{% extends 'base.html.twig' %}

{% block title %}{% trans %}SDBM{% endtrans %}
{% endblock %}

{% block body %}
	<style>
			.example-wrapper {
				margin: 1em auto;
				max-width: 800px;
				width: 95%;
				font: 18px / 1.5 sans-serif;
			}
			.example-wrapper code {
				background: #F5F5F5;
				padding: 2px 6px;
			}
		</style>
		<h1 class="text-center my-5">{% trans %}Société des Bières du Monde vous accueille sur son site !{% endtrans %}</h1>
	<div class="example-wrapper">


		<img
		src="{{ asset('images/biere.jpg') }}" class="img-fluid" alt="Photo stylisée d'une bière et de blé"/>
		</div>


		<div class="container text-center">
			<div class="row">
				<div class="col-md-6">
					<div class="card my-4 mx-5 shadow bg-light">
						<div class="card-header text-center">
							<h5><strong>{% trans %}Classement des continents producteurs{% endtrans %}</h5></strong>
						</div>
						<div class="card-body">
							<p class="card-text">
								<table class="table table-light">
									<tr class="table-light text-center">
										<th>{% trans %}Continents{% endtrans %}</th>
										<th>{% trans %}Nombre de marques{% endtrans %}</th>
									</tr>
									{% for item in continents_bieres %}
										<tr class="table-light text-center">
											<td>{{ item.nom }}</td>
											<td>{{ item.marqueCount }}</td>
										</tr>
									{% endfor %}
								</table>
							</p>
						</div>
					</div>
				</div>
			
		


		{# <div class="container text-center"> #}
			{# <div class="row"> #}
				<div class="col-md-6">
					<div class="card my-4 mx-5 shadow bg-light">
						<div class="card-header text-center">
							<h5><strong>{% trans %}Classement des bières par couleurs{% endtrans %}</h5></strong>
						</div>
						<div class="card-body">
							<p class="card-text">
								<table class="table table-light">
									<tr class="table-light text-center">
										<th>{% trans %}Couleurs{% endtrans %}</th>
										<th>{% trans %}Nombre de bières{% endtrans %}</th>
									</tr>
									<tr>
										{% for item in couleurs_bieres %}
											<td>{{ item.nom }}</td>
											<td>{{ item.Nombre_de_bieres }}</td>
									</tr>
									{% endfor %}
								</table>
							</p>
						</div>
					</div>
				</div>
		</div>


				<div class="row">
					<div class="col-md-6">
						<div class="card my-4 mx-5 shadow bg-light">
							<div class="card-header text-center">
								<h5><strong>{% trans %}TOP *5* des plus gros fabricants{% endtrans %}</h5></strong>
							</div>
							<div class="card-body">
								<p class="card-text">
									<table class="table table-light">
									<tr class="table-light text-center">
										<th>{% trans %}Fabricants{% endtrans %}</th>
										<th>{% trans %}Nombre de bières{% endtrans %}</th>
									</tr>
										<tbody>
											{% for item in fabricants_bieres %}
												<tr>
													<td>{{ item.nom }}</td>
													<td>{{ item.Nombre_de_bieres }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</p>
							</div>
						</div>
					</div>
				


					{# <div class="container text-center"> #}
						{# <div class="row"> #}
							<div class="col-md-6">
								<div class="card my-4 mx-5 shadow bg-light">
									<div class="card-header text-center">
										<h5><strong>{% trans %}TOP *5* des types de bières{% endtrans %}</h5></strong>
									</div>
									<div class="card-body">
										<p class="card-text">
											<table class="table table-light">
												<tr class="table-light text-center">
													<th>{% trans %}Types de bières{% endtrans %}</th>
													<th>{% trans %}Nombre de bières{% endtrans %}</th>
												</tr>
												{% for item in lestypesbieres %}
													<tr class="table-light text-center">
														<td>{{ item.nom }}</td>
														<td>{{ item.Nombre_de_bieres }}</td>
													</tr>
												{% endfor %}
											</table>
										</p>
									</div>
								</div>
							</div>
				</div>
               {% endblock %}
