{% extends 'base.html.twig' %}

{% block title %}Marque index{% endblock %}

{% block body %}

<div class="container">
{#Inclusion du formulaire de création dans la vue index#}
{{ include('marque/_new.html.twig', {'button_label': 'Create'}) }}


    <h2 class="text-center shadow bg-warning-subtle">Liste des marques</h2>


    <table class="table table-warning table-hover table-striped text-center table-sm shadow-lg">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Pays</th>
                <th>Fabricants</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td>{{ marque.idMarque }}</td>
                <td>{{ marque.nomMarque }}</td>
                <td>{{ marque.idPays.nomPays }}</td>
                <td>{{ marque.idFabricant.nomFabricant ?? "<i>Pas de Fabricant</i>" }}</td>
                {#null coalescence avec ?? ça sert à donner une valeur là où il y a du null#}
                <td class="d-flex">
                    {# <a href="{{ path('app_marque_show', {'idMarque': marque.idMarque}) }}">show</a> #}
                    <a href="{{ path('app_marque_edit', {'idMarque': marque.idMarque}) }}"><button class="btn btn-info btn-sm bi bi-pencil-square m-1"></button></a>
                    {{ include('marque/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_marque_new') }}">Create new</a> #}
    </div>
{% endblock %}
