{# {{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-success mt-2">
	<i class="bi bi-file-earmark-plus me-1"></i>
	{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }} #}
{{ form_start(form) }}
<form>
	<div class="d-flex justify-content-center">
		<div class="row">
			<div class="form-group col-md-3">
				{{ form_label(form.nomArticle) }}
				{{ form_errors(form.nomArticle) }}
				{{ form_widget(form.nomArticle) }}
			</div>
			<div class="form-group col-md-3">
				{{ form_label(form.prixAchat) }}
				{{ form_errors(form.prixAchat) }}
				{{ form_widget(form.prixAchat) }}
			</div>
			<div class="form-group col-md-3">
				{{ form_label(form.volume) }}
				{{ form_errors(form.volume) }}
				{{ form_widget(form.volume) }}
			</div>
			<div class="form-group col-md-3">
				{{ form_label(form.titrage) }}
				{{ form_errors(form.titrage) }}
				{{ form_widget(form.titrage) }}
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<div class="row">
			<div class="form-group col-md-3">
				{{ form_label(form.idCouleur) }}
				{{ form_errors(form.idCouleur) }}
				{{ form_widget(form.idCouleur) }}
			</div>
			<div class="form-group col-md-3">
				{{ form_label(form.idMarque) }}
				{{ form_errors(form.idMarque) }}
				{{ form_widget(form.idMarque) }}
			</div>
			<div class="form-group col-md-3">
				{{ form_label(form.idType) }}
				{{ form_errors(form.idType) }}
				{{ form_widget(form.idType) }}
			</div>
			<div class="form-group col-md-3">
				<button class="btn btn-success btn-sm mt-4 ms-5">
					<i class="bi bi-file-earmark-plus me-1"></i>
					{{ button_label|default('Ajouter un article') | trans }}</button>
			</div>
		</div>
	</div>
	{{ form_rest(form) }}
</form>
{{ form_end(form) }}
