{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Article index{% endtrans %}
{% endblock %}


{% block body %}
	<div class="container">
		{{ include('article/_new.html.twig',{'button_label': 'Ajouter'|trans}) }}

		<h2 class="text-center shadow bg-warning-subtle mt-5">{% trans %}Liste des articles{% endtrans %}</h2>


		<table class="table table-warning table-hover table-striped text-center align-middle table-sm shadow-lg tabArticle table-responsive">
			<thead>
				<tr>
					<th>{% trans %}Code{% endtrans %}</th>
					<th>{% trans %}Nom{% endtrans %}</th>
					<th>{% trans %}Prix{% endtrans %}</th>
					<th>{% trans %}Volume{% endtrans %}</th>
					<th>{% trans %}Titrage{% endtrans %}</th>
					<th>{% trans %}Marque{% endtrans %}</th>
					<th>{% trans %}Couleur{% endtrans %}</th>
					<th>{% trans %}Type de bière{% endtrans %}</th>
					<th>{% trans %}Actions{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.idArticle }}</td>
						<td>{{ article.nomArticle }}</td>
						<td>{{ article.prixAchat }}</td>
						<td>{{ article.volume }}</td>
						<td>{{ article.titrage }}</td>
						<td>{{ article.idMarque.nomMarque }}</td>
						<td>{{ article.idCouleur.nomCouleur ?? "<i>-- NC --</i>"}}</td>
						<td>{{ article.idType.nomType ?? "<i>-- NC --</i>" }}</td>
						{#null coalescence avec ?? ça sert à donner une valeur là où il y a du null#}
						<td
							class="">
							{# <a href="{{ path('app_article_show', {'idArticle': article.idArticle}) }}">show</a> #}
							<a href="{{ path('app_article_edit', {'idArticle': article.idArticle}) }}">
								<button class="btn btn-info btn-sm bi bi-pencil-square m-1"></button>
							</a>
							{{ include('article/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">{% trans %}no records found{% endtrans %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{# <a href="{{ path('app_article_new') }}">Create new</a> #}
{% endblock %}
